<div class="sidebarContainer">
  <!-- <div class="SearchWrapper">
    <div class="SearchInput" placeholder="Search Twitter">
      <i class="SearchIcon material-icons">search</i>
    </div>


  </div> -->
    <div class="StickyBox">
      <div class="Body">
        <dececode-list
          title="You might like"
          [elements]="suggestionsArray"
          [listType]="'suggestion'"
        ></dececode-list>

        <!-- <dececode-list
          title="What's Happening"
          [elements]="newsArray"
          [listType]="'news'"
        ></dececode-list> -->
      </div>
    </div>

</div>
