.decodeButton {
  background: var(--twitter);
  color: var(--white);
  border: none;

  padding: 16px;
  border-radius: 25px;

  font-weight: bold;
  font-size: 15px;

  cursor: pointer;
  outline: 0;
  &.outline-button {
    background: transparent;
    color: var(--twitter);
    border: 1px solid var(--twitter);
  }

   &:hover {
       background: var(--twitter-hover-light);
       &.outline-button {  background: var(--twitter-dark-hover)
           };
     }

     .wrapper {
       color:'#33a1f2';
       &.disabled {
       color:'grey';
       }
     }

}
