<div class="profilePageContainer">
  <div class="Banner">
    <div >
      <mat-spinner  *ngIf="loading_image == true" style="position:absolute;bottom: -10px;
      left: 59px;
      z-index: 1;" [diameter]="45"  ></mat-spinner>
    </div>
    <div   class="Avatar">
      <img  style="object-fit:cover"
        src="{{image_src}}"
        alt="{{currentProfile.handle}}"
      />
 
    </div>
  </div>

  <div class="ProfileData">
    <!-- <EditButton outlined>Set up profile</EditButton> -->


    <h2>{{currentProfile.handle}}</h2>





    <div class="Followage">
      <span>
        <strong>{{currentProfile.pubCount}}</strong>
        Publications
      </span>
      <span> <strong>322 </strong>Followers </span>
    </div>
  </div>

  <div style="display:flex;flex-wrap: wrap;justify-content: space-evenly;padding:0 20px;">
  <dececode-button  (onClick)="gotoPub()" style="position:relative;width: fit-content;margin:auto;" class="EditButton">I codeo</dececode-button> 
  <dececode-button  (onClick)="goProfile()" style="position:relative;width: fit-content;margin:auto;" class="EditButton" [outline]="true">Add Profile</dececode-button> 
  <mat-form-field style="position:relative;top:21px" appearance="fill">
    <mat-label>Change Profile</mat-label> 
    <mat-select [formControl]="currentProfileCtrl">
      <mat-option
        [value]="profile"
        *ngFor="let profile of availableProfiles"
        >{{ profile.handle }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
  

</div>
