<div class="profilePageContainer">
  <div class="Banner">
    <div class="Avatar">
      <img
        src="{{currentProfile.imageURI}}"
        alt="{{currentProfile.handle}}"
      />
    </div>
  </div>

  <div class="ProfileData">
    <!-- <EditButton outlined>Set up profile</EditButton> -->

    <h1>Elton Lazzarin</h1>
    <h2>{{currentProfile.handle}}</h2>

    <p>
      Developer at
      <a href="https://www.linkedin.com/in/eltonlazzarin/" target="_blank">
        @WordlLab
      </a>
    </p>

    <ul>
      <li>
        <i class="profilePageiconCSS material-icons">location</i>

        São José do Rio Preto, Brazil
      </li>
      <li>
        <!-- <CakeIcon />
          Born on May 13, 1989 -->
      </li>
    </ul>

    <div class="Followage">
      <span>
        <strong>{{currentProfile.pubCount}}</strong>
        Publications
      </span>
      <span> <strong>322 </strong>Followers </span>
    </div>
  </div>

  <dececode-button  (onClick)="gotoPub()" style="position:relative" class="EditButton" [outline]="true">Create Publication</dececode-button> 

  

</div>
