<div class="mainContainer">
  <div class="createModal">
    <i (click)="back()" class="close material-icons">close</i>
    <div class="Title">Your stream</div>



    <div  *ngIf="hasSubscription== false" class="FollowModule">
      <div>
        <span>The subscription test happen with DAIx Token (0x5D8B4C2554aeB7e86F387B4d6c00Ac33499Ed01f) 
           <br>
           <a href="https://mumbai.polygonscan.com/address/0x5D8B4C2554aeB7e86F387B4d6c00Ac33499Ed01f">View on Polygon Scan</a> 
    </span>
          <p>Please </p>
          <p>Your Balance</p>
          <p>{{myBalance}}</p>
          <p>In order to Start the stream please visit
            <a href="https://app.superfluid.finance/">Superfluid Dashboard</a> and then:<br>
            - Ask for test tokens <br>
            - Wrap your Dai to Daix tolens <br>
            - Once the transactionis completed, please click to refresh to see your balance
          </p>
    </div>
      <h3 class="thirdTitle">
       You have not yet subscribed, please start the stream subscription in order to support the amazing creators so 
       they continue producing amazing content
      </h3>

      <dececode-button style="margin-top:30px" (onClick)="startStream()" [outline]="true">Start Stream</dececode-button>


 
    </div>

    <div  *ngIf="hasSubscription == true" class="FollowModule">

      <h3 class="thirdTitle">
        If you want to stop the sumission please stop the stream
       </h3>


      <dececode-button style="margin-top:30px" (onClick)="stopStream()" [outline]="true">Stop Stream</dececode-button>
    </div>
  </div>
</div>