<div class="mainContainer">
  <div class="createModal">
    <i (click)="back()" class="close material-icons">close</i>
    <div class="Title">Your stream</div>



    <div  *ngIf="hasSubscription== false" class="FollowModule">

      <h3 class="thirdTitle">
       You have not yet subscribed, please start the stream subscription in order to support the amazing creators so 
       they continue producing amazing content
      </h3>

      <dececode-button style="margin-top:30px" (onClick)="startStream()" [outline]="true">Start Stream</dececode-button>


 
    </div>

    <div  *ngIf="hasSubscription == true" class="FollowModule">

      <h3 class="thirdTitle">
        If you want to stop the sumission please stop the stream
       </h3>


      <dececode-button style="margin-top:30px" (onClick)="stopStream()" [outline]="true">Stop Stream</dececode-button>
    </div>
  </div>
</div>