<div class="mainContainer">
  <div class="createModal">
    <i (click)="back()" class="close material-icons">close</i>
    <div class="Title">Your Subscription</div>



    <div style="line-height: 35px; font-size: 20px;"   *ngIf="hasSubscription== false" class="FollowModule">
      <div style="    border: 1px solid orange;
      margin-bottom: 20px;
      padding: 30px;
      border-radius: 10px;
      background: #342200;">
          <p>For testing purpose and for the time being please mock the stream clicking here</p>
          <dececode-button style="margin-top:30px" (onClick)="mockStartStream()" [outline]="true">Mock Start Stream</dececode-button>

      </div>

      <div>
        <span>The subscription is with DAIx Test Token<br>
           0x5D8B4C2554aeB7e86F387B4d6c00Ac33499Ed01f
           <br>
           <a href="https://mumbai.polygonscan.com/address/0x5D8B4C2554aeB7e86F387B4d6c00Ac33499Ed01f">View on Polygon Scan</a> 
    </span>
    
          <p>Your Current Balance :<span style="font-weight:bold;color:var(--twitter)"> {{niceBalance}} </span> </p>
      <div *ngIf="myBalance == 0">
          <p>In order to Start the stream please visit
            <a href="https://app.superfluid.finance/">Superfluid Dashboard</a> and then:<br>
            - Ask for test tokens <br>
            - Wrap your Dai to Daix tolens <br>
            - Once the transactionis completed, please click to refresh to see your balance
          </p>
        </div>
      <h3 style="color:var(--twitter)" class="thirdTitle">
       You have not yet subscribed, please start the stream subscription in order to support the amazing creators so 
       they continue producing amazing content
      </h3>
    </div>
      <dececode-button style="margin-top:30px" (onClick)="startStream()" [outline]="true">Start Stream</dececode-button>


 
    </div>

    <div style="line-height: 35px; font-size: 20px;"   *ngIf="hasSubscription == true" class="FollowModule">
      <div style="    border: 1px solid orange;
      margin-bottom: 20px;
      padding: 30px;
      border-radius: 10px;
      background: #342200;">
        <p>For testing purpose if you have mock-started the stream, you can stop it clicking here</p>
        <dececode-button style="margin-top:30px" (onClick)="mockStopStream()" [outline]="true">Mock Stop Stream</dececode-button>

    </div>
      <h3  style="color:var(--twitter)"class="thirdTitle">
        If you want to stop the sumission please stop the stream
       </h3>


      <dececode-button style="margin-top:30px" (onClick)="stopStream()" [outline]="true">Stop Stream</dececode-button>
    </div>
  </div>
</div>