:host {
    width: 100%;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  
    // border-right: 1px solid var(--outline);
  }
  
  .createModal {
    width: 100%;
    min-height: 300px;
    background: var(--secondary);
    border-radius: 14px;
    width: min(801px, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--outline);
    padding: 30px;
    position: relative
  }
  
  .close {
    color: red;
    position: absolute;
    top: 10px;
    right: 9px;
    cursor: pointer;
  }
  
  .Title {
    font-weight: bold;
    font-size: 19px;
  }
  
  .SubTitle {
    font-weight: bold;
    font-size: 14px;
  }
  .ImageWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  
    margin: 30px;
    border-radius: 15px;
    padding: 15px;
  }
    .ImageGroup {
      .ImageAction {
        cursor: pointer;
        text-align: center;
      }
      margin-top:10px;
    }
  
    .SamePicture {
      text-align: center;
  
      // .check {
      //   background: var(--white);
      // }
      .text {
        color: var(--gray);
      }
    }

  
  img.Avatar {
    width: max(45px, min(135px, 22vw));
    height: max(45px, min(135px, 22vw));
  
    border: 0.5px solid var(--primary);
    background: var(--gray);
    border-radius: 50%;
    margin: 10px 10px;
    // position: absolute;
    // bottom: max(-60px, -10vw);
    // left: 15px;
  }
  
  img.NftImage {
    width: max(45px, min(135px, 22vw));
    height: max(45px, min(135px, 22vw));
  
    border: 0.5px solid var(--primary);
    margin: 10px 10px;
    // position: absolute;
    // bottom: max(-60px, -10vw);
    // left: 15px;
  }
  
  .GlobalInput {
    flex-basis: 100%;
    display: flex;
    width:100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .Form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:300px;
  }
  
  .InputWrapper {
    flex-basis: 100%;
    text-align: center;
    margin: 10px auto;
  }
  
  .Input {
    padding: 10px 24px;
    width: min(290px, 100%);
    color:var(--secondary);
    // position: fixed;
    top: 0;
    z-index: 2;
    // background: var(--primary);
  
    max-height: 57px;
  
    height: 39px;
    font-size: 14px;
    padding: 0 10px 0 0px;
    border-radius: 19.5px;
    background: var(--white);
  
    &::placeholder {
      color: var(--gray);
    }
  
    outline: 0;
  
    &:focus {
      border: 1px solid var(--twitter);
    }
  }
  
  .TextArea {
    padding: 10px 24px;
    width: min(290px, 100%);
    
    color:var(--secondary);
    // position: fixed;
    top: 0;
    z-index: 2;
    // background: var(--primary);
  
    max-height: 300px;
    height: 300px;
    font-size: 14px;
    padding: 0 10px 0 0px;
    border-radius: 29.5px;
    background: var(--white);
  
    &::placeholder {
      color: var(--gray);
    }
  
    outline: 0;
  
    &:focus {
      border: 1px solid var(--twitter);
    }
  }
  
  .Info {
    display: flex;
    flex-direction: column;
  
    > strong {
      font-size: 14px;
    }
  
    > span {
      font-size: 14px;
      color: var(--gray);
    }
  }
  
  .FollowModule{
    width: 300px;
    padding: 10px;
    border: 1px solid var(--white);
    width: 300px;
    padding: 16px;
    border: 1px solid var(--white);
    border-radius: 20px;
    text-align: center;
  }
  
  .followModuleDescription {
  
  }
  