<div class="feedContainer">
    <div class="Tab">Some Codeos!!

    <div class="Codeos">
    <dececode-codeo [blockchain_status]="blockchain_status" 

   [codeo]="codeo"  *ngFor="let codeo of publications"></dececode-codeo>
   <div style="margin-top:10px" *ngIf="loading==true ">
    <mat-spinner   style="    z-index: 1;margin-top:20px;
    width: 45px;
    height: 45px;
    margin: auto;" [diameter]="45"  ></mat-spinner>
      <h3 style="margin-top:10px;">Downlaoding your feed of codeos..</h3>
    </div>
    </div>
</div>
</div>
