<div class="mainContainer">
  <div class="createModal">
    <i  (click)="back()" class="close material-icons">close</i>
    <div class="Title">Create Your Profile</div>
    <div class="ImageWrapper">
      <div class="ImageGroup">
        <img  (click)="fileupload.click()" style="object-fit: cover;" class="Avatar" src="{{ image_src }}" />

        <input
          hidden
          type="file"
          (change)="uploadProfile($event)"
          #fileupload
        />
        <p class="ImageAction" (click)="fileupload.click()"  >click for change</p>
        <p class="ImageAction" (click)="resetProfile()">(reset)</p>
      </div>
      <div class="SamePicture">
        <mat-checkbox
          class="check"
          [formControl]="samePictureCtrl"
        ></mat-checkbox>
        <p class="text">Same Image</p>
      </div>
      <div class="ImageGroup">
        <img (click)="fileuploadNFT.click()" style="object-fit: cover;" class="NftImage" src="{{ nft_src }}" />
        <input hidden type="file" (change)="uploadNft($event)" #fileuploadNFT />
        <p class="ImageAction" (click)="fileuploadNFT.click()">
          click for change
        </p>
        <p class="ImageAction" (click)="resetNft()">(reset)</p>
      </div>
    </div>

    <div class="GlobalInput">
      <form class="Form" [formGroup]="profileForm">
        <div class="InputWrapper">
          <input
            type="text"
            matInput
            formControlName="handleCtrl"
            placeholder="Your Web3 Handle*"
            class="InputWrapper Input"
          />
        </div>
        <div class="InputWrapper">
          <textarea
            class="TextArea"
            formControlName="descriptionCtrl"
            rows="4"
            placeholder="Your Description*"
            matInput
          ></textarea>
        </div>
        <div class="InputWrapper">
          <input
            type="text"
            matInput
            formControlName="twitterCtrl"
            placeholder="Your TwitterHandle"
            class="Input"
          />
        </div>
        <div class="InputWrapper">
          <input
            type="text"
            matInput
            formControlName="webCtrl"
            placeholder="Your webpage"
            class="Input"
          />
        </div>
      </form>
      <div class="FollowModule">
        <div style="flex-basis: 100%">
          <div class="Title">Choose How should follow you</div>
          <mat-form-field appearance="fill">
            <!-- <mat-label>Choose Your Follow</mat-label> -->
            <mat-select [formControl]="profileForm.controls.followModuleCtrl">
              <mat-option
                [value]="option.id"
                *ngFor="let option of followModuleOptions"
                >{{ option.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="followModuleDescription">
          <div *ngIf="profileForm.controls.followModuleCtrl.value == 0">
            <div class="SubTitle">Every One</div>
          </div>

          <div *ngIf="profileForm.controls.followModuleCtrl.value == 1">
            <div class="SubTitle">supporting</div>
          </div>
        </div>
      </div>
    </div>

    <dececode-button style="margin-top:30px" (onClick)="createProfile()" [outline]="true"
      >create Profile</dececode-button
    >
  </div>
</div>
<div
  *ngIf="show_create_success == true"
  style="
    width: 100vw;
    height: 100vh;
    background-color: rgba(91, 87, 87, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
  "
>
  <app-particles
    style="position: fixed; width: 100%; height: 100%; left: 0; top: 0"
    [shape]="2"
    [moveSpeed]="9"
    [defSize]="20"
    [number]="200"
    [linkingFlag]="false"
    [snowEffect]="true"
  >
  </app-particles>
  <div
    style="
      width: 80%;
      max-width: 500px;
      min-width: 300px;
      background: white;
      border-radius: 5px;
      opacity: 1;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      transform: translateY(calc(50vh - 280px));
      padding: 10px 20px 32px;
    "
  >
    <mat-icon (click)="close()" style="color: red; cursor: pointer"
      >clear</mat-icon
    >
    <h3 style="color:var(--seconday);margin-bottom:10px">Bravo!!!</h3>
    <p style="color:var(--primary)">You are already Member of the <span style="color:var(--twitter)">CODEO</span></p>
 
  </div>
</div>
