<div class="codeoContainer">
  <!-- {{codeo.retweet ? (
     <Retweeted>
        <RocketseatIcon />
        You retweeted
      </Retweeted> 
  ) : ( '' )} -->

  <div class="codeoBody">
    <div class="Avatar">
      <img src="{{ codeo.profile_src }}" alt="{{ codeo.handle }}" />
    </div>

    <div class="Content">
      <div class="Header">
        <strong>{{ codeo.profile.name }}</strong>
        <span>{{ codeo.twitteruser }}</span>
        <!-- <Dot /> -->
        <div class="time">{{ codeo.posttime }}</div>
      </div>

      <div class="Description">{{ codeo.description }}</div>

      <div   class="ImageContent">
        <img style="object-fit: cover;"
          *ngIf="codeo.src !== undefined"
          src="{{ codeo.src }}"
          alt="Imge Post"
        />
      </div>
      <dececode-button  (click)="collect()" *ngIf="!codeo.encrypted"
      style="margin-top: 30px"
      
      [outline]="true"
      >Collect</dececode-button>
      <dececode-button  (click)="decrypt()" *ngIf="codeo.encrypted == true"
      style="margin-top: 30px"
      
      [outline]="true"
      >Decript</dececode-button
    >
      <!-- <div class="Icons">
        <div class="Status">
          <i class="iconCodeo material-icons">comment</i>

          {{ codeo.commentscount }}
        </div>
        <div class="Status">
          <i class="iconCodeo material-icons">retweet</i>
          {{ codeo.retweetscount }}
        </div>
        <div class="Status">
          <i class="iconCodeo material-icons">like</i>

          {{ codeo.likecount }}
        </div>
      </div> -->
      
    </div>
  </div>
</div>
