<div class="codeoContainer">
  <!-- {{codeo.retweet ? (
     <Retweeted>
        <RocketseatIcon />
        You retweeted
      </Retweeted> 
  ) : ( '' )} -->

  <div class="codeoBody">
    <div class="Avatar">
      <img src="{{ codeo.profile_src }}" alt="{{ codeo.handle }}" />
    </div>

    <div class="Content">
      <div  class="Header">
        <div>
          <strong>{{ codeo.profile.name }}</strong>
          <span>{{ codeo.twitteruser }}</span>
          <!-- <Dot /> -->
          <div class="time">{{ codeo.posttime }}</div>
        </div>
        <dececode-button *ngIf="follower == 'follower' "  (onClick)="unfollow()" >
      Stop Following</dececode-button>
   
        <dececode-button *ngIf="(follower == 'not' || follower == 'loading' )&& codeo.encrypted == undefined" [disabled]="disabled"  (onClick)="follow()" [outline]="true">Follow</dececode-button>
        <mat-spinner   *ngIf="follower == 'loading' "   style="    z-index: 1;margin-top:20px;
        width: 45px;
        height: 45px;
        margin: auto;    position: absolute;
    right: 15px;" [diameter]="45"  ></mat-spinner>
      </div>

      <div class="Description">{{ codeo.description }}</div>

      <div   class="ImageContent">
        <img style="object-fit: cover;"
          *ngIf="codeo.src !== undefined"
          src="{{ codeo.src }}"
          alt="Imge Post"
        />
      </div>
      <dececode-button  (click)="collect()" *ngIf="!codeo.encrypted"
      style=" position: relative;"
      
      [outline]="true"
      >Collect <span *ngIf="amount>0">({{amount}} tokens)</span>
      <i  *ngIf="amount>0" (click)="doFaucet()" style="
        position: absolute;
        right: 10px;
        top: 13px;
        font-size: 25px;
        color: var(--lens);
        cursor: pointer;
      " class="material-icons">local_gas_station</i>
      </dececode-button>
  

      <dececode-button  (click)="decrypt()" *ngIf="codeo.encrypted == true"
      style="margin-top: 30px"
      
      [outline]="true"
      >Decript</dececode-button>
      
    </div>
  </div>
</div>
<div
  *ngIf="show_success == true"
  style="
    width: 100vw;
    height: 100vh;
    background-color: rgba(91, 87, 87, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
  "
>
<app-particles 
style="position: fixed; width: 100%; height: 100%; left: 0; top: 0"
[shape]="2"
[moveSpeed]="9"
[defSize]="20"
[number]="200"
[linkingFlag]="false"
[snowEffect]="true"
>
</app-particles>
<div
style="
  width: 80%;
  max-width: 500px;
  min-width: 300px;
  background: white;
  border-radius: 5px;
  opacity: 1;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transform: translateY(calc(50vh - 280px));
  padding: 10px 20px 32px;
"
>
<mat-icon (click)="close()" style="color: red; cursor: pointer"
  >clear</mat-icon
>
<h3 style="color:var(--seconday);margin-bottom:10px">Bravo!!!</h3>
<p style="color:var(--primary)">You just collected this NFT<span style="color:var(--twitter)"></span>
</p>
  <span>{{collectAddress}}</span>
<button style="margin: 0 5px 0 5px; transform: scale(0.7)" class="btn btn-light"
[cdkCopyToClipboard]="collectAddress"></button>
</div>
</div>
