.menu-container {
    display: none;

    @media (min-width: 500px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      position: sticky;
      top: 0;
      left: 0;
  
      padding: 9px 19px 20px;
  
      max-height: 100vh;
      overflow-y: auto;
    } 
}

.Topside {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    @media (min-width: 1280px) {
      align-items: flex-start;
    }
}


.iconTwitter {
  width: 32px;
  height: 32px;

  > path {
    fill: var(--twitter);
  }

  margin-bottom: 20px;

}


.MenuButton{
  display: flex;
  align-items: center;
  flex-shrink: 0;

  > span {
    display: none;
  }

  @media (min-width: 1280px) {
    > span {
      display: inline;
      margin-left: 19px;

      font-weight: bold;
      font-size: 19px;
    }

    padding-right: 15px;
  }

  padding: 8.25px 0;
  outline: 0;

  & + button {
    margin-top: 16.5px;
  }

  & + button:last-child {
    margin-top: 33px;

    width: 40px;
    height: 40px;

    > span {
      display: none;
    }

    @media (min-width: 1280px) {
      width: 100%;
      height: unset;

      > span {
        display: inline;
      }
    }
  }

  cursor: pointer;
  border-radius: 25px;

  &:hover {
    background: var(--twitter-dark-hover);
  }

  &:hover,
  &.active {
    span,
    svg {
      color: var(--twitter);
      fill: var(--twitter);
    }
  }

}


.dececode-icons {
    flex-shrink: 0;

  width: 30px;
  height: 30px;
  color: var(--white);  
}
// const iconCSS = css{
//   flex-shrink: 0;

//   width: 30px;
//   height: 30px;
//   color: var(--white);


// .HomeIcon .iconHome){
//   ${iconCSS}


// .ExploreIcon .iconHashtag){
//   ${iconCSS}


// .BellIcon .iconNotifications){
//   ${iconCSS}


// .EmailIcon .iconEmail){
//   ${iconCSS}


// .FavoriteIcon .iconBookmarkBorder){
//   ${iconCSS}


// .ListIcon .iconListAlt){
//   ${iconCSS}


// .ProfileIcon .iconPerson){
//   ${iconCSS}


.Botside {
  margin-top: 20px;

  display: flex;
  align-items: center;
}

.Avatar {
  img {
    flex-shrink: 0;

    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: var(--gray);
  }
}

.ProfileData {
  display: none;

  @media (min-width: 1280px) {
    display: flex;
    flex-direction: column;

    margin-left: 10px;
    font-size: 14px;

    > span {
      color: var(--gray);
    }
  }
}

.iconKeyboardArrowDown {
  display: none;

  @media (min-width: 1280px) {
    display: inline-block;
    width: 25px;
    height: 25px;
    color: var(--white);
    margin-left: 30px;
    cursor: pointer;

    &:hover {
      > path {
        color: var(--like);
      }
    }
  }
}