<div class="head">
  {{ data.success == true ? "OK" : "Error" }}
</div>
<div style="">
  <mat-icon
    style="position: absolute; top: 6px; right: 8px; cursor: pointer"
    mat-flat-button
    (click)="snackBarRef.dismiss()"
    >close</mat-icon
  >
  <div
    *ngIf="data.success == false"
    style="
     font-size: 20px; ;
    "
    class="content-style"
  >
   
    <div *ngIf="data.error_message !== undefined">
      {{ data.error_message }}
    </div>
  </div>

  <div
    *ngIf="data.success == true"
    style="

      font-size: 20px; ;
    "
    class="content-style"
  >
    <div *ngIf="data.success_message !== undefined">
      {{ data.success_message }}
    </div>
  </div>
</div>
