<div class="profilePageContainer">
  <div *ngIf="blockchain_status == 'loading'">
    <div style="display:flex;justify-content:space-around;  align-items:center;flex-direction: column;" class="Banner">
      <h2 style="">Identifying your creations</h2>
      <!-- <img style="position: absolute;top:0;width:100%;object-fit: cover;" src="https://1.bp.blogspot.com/-lg73Nw76yCc/V9_EnSSngLI/AAAAAAAAWxY/bQtB8s4wWPsvzsac3xZYbP--23d-KugzwCLcB/s1600/StarCIO%2BLess%2BCode.jpg"> -->
      <mat-spinner [diameter]="65"  ></mat-spinner>
      </div>
    

  </div>
 <div *ngIf="blockchain_status == 'wallet-not-connected'">
    <div style="display:flex;justify-content: center;align-items: center" class="Banner">
      <h1 style="">Start with your web3 Id</h1>
   
      </div>
    
      <div class="ProfileData">
     
        <dececode-button (click)="connect.emit(true)"  class="EditButton" [outline]="true">SignUp</dececode-button> 

  
      </div>
  </div> 
  <div *ngIf="blockchain_status == 'success'">
    <div class="Banner">
      <div class="Avatar">
        <img
          src="https://avatars1.githubusercontent.com/u/53025782?s=400&u=f1ffa8eaccb8545222b7c642532161f11e74a03d&v=4"
          alt="Elton Lazzarin"
        />
      </div>
    </div>
  
    <div class="ProfileData">
      <!-- <EditButton outlined>Set up profile</EditButton> -->
      <dececode-button  class="EditButton" [outline]="true">Set up Profile</dececode-button> 
  
      <h1>Elton Lazzarin</h1>
      <h2>@elton_lazzarin</h2>
  
      <p>
        Developer at
        <a href="https://www.linkedin.com/in/eltonlazzarin/" target="_blank">
          @WordlLab
        </a>
      </p>
  
      <ul>
        <li>
          <i class="profilePageiconCSS material-icons">location</i>
  
          São José do Rio Preto, Brazil
        </li>
        <li>
          <!-- <CakeIcon />
            Born on May 13, 1989 -->
        </li>
      </ul>
  
      <div class="Followage">
        <span>
          <strong>98 </strong>
          Following
        </span>
        <span> <strong>322 </strong>Followers </span>
      </div>
    </div>
  </div>
  
  </div>
  