/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--white);
}

html,
body,
#root {
  max-height: 100vh;
  max-width: 100vw;

  width: 100%;
  height: 100%;
}

*,
button,
input {
  border: 0;
  background: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  background: var(--primary);
}

:root {
  --primary: #000;
  --secondary: #15181c;
  --search: #202327;
  --white: #d9d9d9;
  --gray: #7a7a7a;
  --outline: #2f3336;
  --retweet: #00c06b;
  --like: #e8265e;
  --twitter: #abfe2c; //#33a1f2;
  --twitter-dark-hover: #011017;
  --twitter-light-hover: #2c8ed6;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--twitter);
}

.mat-checkbox-label {
  color: var(--gray);
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--twitter);
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element {
  background: var(--twitter);
}

.mat-checkbox-inner-container-no-side-margin {
 background: var(--white);
}
.mat-select-arrow {
  color: var(--white)
}

.mat-option-text {
  color: black;
}