<div class="mainContainer">
    <div class="Header">
      <!-- <button>
        <BackIcon />
      </div>button> -->

      <div class="ProfileInfo">
        <strong>Elton Lazzarin</strong>
        <span>432 Tweets</span>
      </div>
    </div>
   <dececode-profile-page *ngIf="blockchain_status == 'success'">
       
   </dececode-profile-page>

   <dececode-onboard (connect)="connect()"
   [blockchain_status]="blockchain_status" *ngIf="blockchain_status !== 'success'"></dececode-onboard>

   <dececode-feed></dececode-feed>

   <div class="ProfilePage">
    <router-outlet></router-outlet>
   </div> 

    <div class="BottomMenu">
      <!-- <HomeIcon className="active" /> -->
      <!-- <SearchIcon />
      <BellIcon />
      <EmailIcon /> -->
    </div>
  </div>
