<div class="mainContainer">
    <div class="Header">
      <!-- <button>
        <BackIcon />
      </div>button> -->

      <div class="ProfileInfo">
        <strong>Elton Lazzarin</strong>
        <span>432 Tweets</span>
      </div>
    </div>
    <dececode-profile-page *ngIf="blockchain_status == 'lens-single-profile-found'">
       
   </dececode-profile-page> 

   <dececode-onboard  (connect)="connect()" (signUp)="signUp()"
   [blockchain_status]="blockchain_status" ></dececode-onboard>

   <dececode-feed></dececode-feed>

   <div class="ProfilePage">
    <router-outlet></router-outlet>
   </div> 

    <div class="BottomMenu">
      <!-- <HomeIcon className="active" /> -->
      <!-- <SearchIcon />
      <BellIcon />
      <EmailIcon /> -->
    </div>
  </div>

  <div
  *ngIf="false"
  style="
    z-index: 1000000;
    background: #00000070;
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items: center;
    top: 0;
    display: flex;
    justify-content: center;
  "
>
 

</div>
