<div class="mainContainer">
    <div class="Header">
      <!-- <button>
        <BackIcon />
      </div>button> -->

      <div class="ProfileInfo">
        <strong>Elton Lazzarin</strong>
        <span>432 Tweets</span>
      </div>
    </div>
   <dececode-profile-page>
       
   </dececode-profile-page>
   <div class="ProfilePage">
    <router-outlet></router-outlet>
   </div> 

    <div class="BottomMenu">
      <!-- <HomeIcon className="active" /> -->
      <!-- <SearchIcon />
      <BellIcon />
      <EmailIcon /> -->
    </div>
  </div>
